body {
    margin: 0;
    font-family: "Cascadia Code", monospace;
    background-color: #8a8a8a;
}

#scoreText {
    margin: 10px;
}

p {
    margin-left: 10px;
}

/* Game objects */
img {
    position: absolute;

    width: 96px; /* or 64px, 128px etc, MUST be a CLEAN multiple of 32 to maintain high image quality */
    height: 96px;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    cursor: pointer;
    user-select: none;
}